.from {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;


  .formItem {
    width: 100%;
    margin-bottom: 30px;
  }

  .submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}